.product-detail-left{
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}
.product-detail-img{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
.ant-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0;
    color: rgba(0, 0, 0, 0.85);
}